<!-- this will be head element for all our views/templates, so if we need to change it, we just change it in this place -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Page</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">  <!-- like this we include css file from public folder and now we can use bootstrap here -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script> 
</head>