<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cats</title>
    <link rel="stylesheet" href="/app.css"> <!-- using static files from public folder-->
</head>

<body>
    <h2>All cats are:</h2>
    <ul>
        <% for(let cat of cats) { %> <!--this is example of looping in EJS -->
            <li><%= cat %></li>
        <% } %>
    </ul>
</body>

</html>