<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>This is the home page of our app</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere tempora, inventore rem deleniti facilis hic,
        porro enim molestias odio amet quaerat. Veniam, dolorum deleniti. Accusantium harum reprehenderit porro quam
        distinctio!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptatum iure reprehenderit provident
        accusamus, quas sit doloremque incidunt minima eaque voluptas ut fugit eveniet aut beatae deleniti facilis ab
        reiciendis.
        Assumenda accusamus aliquid, eligendi veritatis ipsa quia sit? Accusantium ipsam harum minima debitis aliquid
        sint inventore, laboriosam quaerat fuga ducimus blanditiis recusandae, qui iste odio enim, necessitatibus
        voluptate eveniet hic?</p>
</body>

</html>