<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h1>Insert new product:</h1>
    <form action="farms/<%= id %>/products" method="POST">
        <label for="name">Product name</label>
        <input type="text" name="name" id="name">
        <label for="price">Price</label>
        <input type="number" name="price" id="price">
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for(category of categories) { %>
                <option value="<%= category %>"><%=category%></option>
                <% } %>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>