#colors {
    color:rgb(21, 24, 48);
    background-color: bisque;
}

#textedit {
    text-align: center;
    text-decoration: 1px red line-through solid;
}

#textspan {
    font-weight: 900;
    text-decoration: 1px violet overline wavy;
    line-height: 3;
    letter-spacing: 15px;
}

#nounderline {
     text-decoration: none;
     font-size: large;
}

#fonts {
    font-size: 29px;
    font-style: italic;
    font-family: Gill Sans, sans-sarif;
}