h1 {
    background-color: blanchedalmond;
    text-align: center;
    font-size: 4em;
}

/* Units in em */
.em {
     font-size: 20px;
}

h2 {
    font-size: 2em;
    background-color: rgb(119, 39, 31);
}

h3 {
    font-size: 1.5em;
    background-color: rgb(119, 39, 31) ;
}

p {
    font-size: 0.8em;
}

li {
    font-size: 1.5em;
}

.em button {
    font-size: 0.8em;
    padding-top: 0.8em;
    padding-bottom: 50px;
    border-radius: 0.5em;
}

.rem {
    font-size: 20px;
}

.rem li {
    font-size: 1.5rem;
}

.rem button {
    font-size: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 50px;
    border-radius: 0.5rem;
}

